body {
    background-color: #191919;
    color: #50A000;
    font-size: 15px;
}
form {
    background-color: #CBFF97;
    color: #4D9A00 !important;
    border-radius: 2px;
}
textarea, input, select, button {
    border: 2px solid #505050;
    color: #A8A8A8;
    font-size: 14px;
    background-color: #1B1B1B;
    border-radius: 3px;
    border-radius: 2px;
}
input[type="checkbox"]: unchecked,
input[type="checkbox"]: checked {
    border: 2px solid #505050;
    color: #A8A8A8;
    background-color: #353535;
    border-radius: 3px;
    border-radius: 2px;
}
input[type="checkbox"]: label {
    font-size: 30px;
    position: relative;
    padding-bottom: 10px;
}
body h1 {
    text-align: center;
}
.generator {
    outline: 2px solid green;
    padding: 14px 28px;
    background-color: #30332C;
    color: #58B74D;
}
.generator_error {
    outline: 3px solid darkred;
    padding: 5px 10px;
    top: 5px;
    background-color: #B89827;
    text-align: center;
    border-radius: 6px;
    color: #AC0007;
}
.output_box {
    outline: 2px solid green;
    height: 700px;
    overflow-y: scroll;
    background-color: #282c34 !important;
    border-radius: 2px;
}
.box1 {
    border: 2px solid #505050;
    top: 1px;
    padding: 10px 12px;
    border-radius: 10px;
    min-height: 80px;
    background-color: #1B1B1B;
}
.box2 {
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
    color: skyblue;
}
.box3 {
    outline: 2px solid darkgray;
    top: 1px;
    padding: 5px 6px;
    border-radius: 6px;
    background-color: #111111;
}
.box4 {
    top: 1px;
    padding: 6px 6px;
    border-radius: 6px;
    background-color: #585858;
}
.box5 {
    text-align: center;
    top: 1px;
    padding: 5px 6px;
    border-radius: 6px;
}
.box5 button {
    padding: 8px 8px;
    border-radius: 4px;
    color: #586C45;
}
.button_block {
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    border: 3px solid #397100;
    border-block-start-color: #197D00;
    border-block-end-color: #156900;
    border-block-end-width: 4px;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: #B0DF82;
    font-size: 20px;
    font-weight: bold;
}
.button_block1 {
    width: auto;
    height: 23px;
    border: none;
    background-color: #30332C;
    text-align: center;
    padding: 0px -2px;
    color: #269200;
    font-size: 15px;
    text-decoration: underline;
}
.dev_button {
    width: auto;
    height: auto;
    border: none;
    background-color: #191919;
    text-align: left;
    color: skyblue;
    font-size: 15px;
}
/*This use for toggle*/
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .8s;
    transition: .8s
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .8s;
    transition: .8s
}

input:checked+.slider {
    background-color: #2569D3
}

input:focus+.slider {
    box-shadow: 0 0 1px #2569D3
}

input:checked+.slider:before {
    -webkit-transform: translateX(45px);
    -ms-transform: translateX(45px);
    transform: translateX(45px)
}

.slider.round {
    border-radius: 36px
}

.slider.round:before {
    border-radius: 50%
}